body {
    background-color: black;
    color: white;
    background-image: url("images/space.jpg");
    font-family: "Lexend Exa", sans-serif;
}


.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#page-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*main*/
.blue-box {
    border-radius: 30px;
    background-color: #84DCC6;
    box-shadow: 3px 3px 25px #a5ffd6;
    padding: 0px 10px 10px 10px;
}

.pink-box {
    border-radius: 30px;
    background-color: #ff686b;
    box-shadow: 3px 3px 25px #ffa69e;
    padding: 0px 10px 10px 10px;
}

#news {
    height: 300px;
    width: 200px;
    margin-right: 50px;
}

#aboutMe {
    height: 200px;
    width: 400px;
    margin: 0px 150px 0px 50px;
    position: relative;
}

#status {
    height: 150px;
    width: 500px;
    margin: 75px 0px 0px 0px;
}

#planet-1 {
    height: 15%;
    width: 15%;
    position: relative;
    right: 80px;
    top: 20px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

#planet-2 {
    height: 5%;
    width: 5%;
    position: relative;
    left: 0px;
    animation-name: GFG;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#guitar {
    width: 15%;
    position: absolute;
    left: 950px;
    bottom: 400px;
    rotate: 315deg;
}

#jerry {
    width: 20%;
    position: absolute;
    top: 430px;
    left: 975px;
    
}

#statusTxt, #newsTxt, #aboutMeTxt {
    white-space: pre-wrap;
}

/*animation*/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes GFG {
            0% {
                transform: rotate(0deg) 
                      translateY(5px) rotate(0deg);
            }

            100% {
                transform: rotate(360deg) 
                      translateY(5px) rotate(-360deg);
            }
        }